PO4A-HEADER: mode=after; position=^\[\[contributors\]\]; beginboundary=\[\[
[[translation]]
\\Translators translate below and delete this comment
*translation*

\\Translators delete che example names and put your names below here
Io <io@miosito.it>, year,year.
Moi <moi@moi.fr>, year-interval.

