PO4A-HEADER: mode=after; position=^\[\[contributors\]\]; beginboundary=\[\[
[[translation]]
//Translators translate the word just below and delete this comment
*translation*

//Translators put your names below here in the addendum file
Io <io@miosito.it>, year,year.
Moi <moi@moi.fr>, year-interval.

